{% extends "ublocks_base.html" %}

{% block 'content' %}
	{% if mode == 'templatetag' %}
		{% load ublock from ublock_tags %}
		{% ublock id=ublock_id %}
	{% else %}
		<!-- {{ ublock.template }} -->
		{% include ublock.html_template %}
	{% endif %}
{% endblock 'content' %}

{% block "tinymce_config" %}
<script>
	tinymce.init({ selector:'h1', theme:"inlite", inline:true });
	tinymce.init({ selector:'.ublock_text_wrapper', inline:true });
	tinymce.init({ selector:'p>a',theme:"inlite", inline:true });

	binds = {title:'h1', subtitle:'a'}
	// binds tests - https://codepen.io/alexeiramone/pen/ZJqqQr
</script>
<style>
	.mce-content-body {}
	.mce-edit-focus {outline:2px solid #36F;}
</style>
{% endblock "tinymce_config" %}
