{% extends "core.html" %}
{% load static cache %}
{% block titulo %}{{ BASE_REGULAR_SEPARATOR|safe }} {{ request.site.name }}{% endblock titulo %}
{% block page_specific %}{% endblock page_specific %}
{% block header %}
{% cache 21600 cache_header %}
<header id="header">
</header><!-- /header -->
{% endcache %}
{% endblock header %}
{% block main_content %}
{% block headline %}<!-- headline -->
{% endblock headline %}<!-- /headline -->
	<div class="container">
		{% for ublock in route.blocks.all %}
			{% include ublock.style.template with ublock=ublock only %}
		{% endfor %}
	</div>
{% endblock main_content %}

{% block footer %}
{% cache 846000 footer %}
<footer>

</footer>
{% endcache %}
{% endblock footer %}
